body {
	margin: 0;
}

#map {
	top: 0;
	height: 100vh;
}

.leaflet-control-layers{
        content: "Title" !important ;
        font-size: 16px !important;
		background: rgba(15, 51, 56, 0.59); 
		color: #FFFAFA;
    }
#sideBar {    
	background: rgba(15, 51, 56, 0.59);
	position: absolute;
	top: 0;
	right: 0;
	margin-right: auto;
	font-family: sans-serif;
	color: #FFFAFA;
	padding: 10px;
	font-size: 16px;
	box-sizing: border-box;
	z-index:10;
	width: 25%;
	word-wrap: break-word;
}

#one:hover, #twentyfive:hover, #five:hover, #ten:hover, #infinite:hover{
	background-color: #47494D;
}

a:link { 
    color: white;
    text-decoration: none;
    cursor: auto;

}

a:visited {
    color: white;
}

a:hover {
	background-color: #47494D